<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta charset="utf-8" /> 
    <title>Na lini</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    
    <div class="top-menu">
        <div class="left-menu">
            <p>Mój pamiętniczek</p>
        </div>
        <div class="right-menu">
            <p><a href="index.php?page=main">Notes</a></p>
            <p><a href="index.php?page=login">Login</a></p>
            <p><a href="index.php?page=signup">Sign Up</a></p>
        </div>
    </div>
    
<div class="container">
    <h1><img src="../img/notes.png" >Notes</h1>
    <button class="btn"><img src="../img/edit.png" >Create Notes</button>
    <div class="notes-container">

        <!-- <p contenteditable="true" class="input-box">
            <img src="images/delete.png">
        </p> -->
    </div>
</div>
<script src="scripts/script.js"></script>
</body>
</html>
