<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta charset="utf-8" /> 
    <title>Na lini</title>
    <link rel="stylesheet" href="../styles/style.css">

</head>
<body>
    
    <div class="top-menu">
        <div class="left-menu">
            <p>Mój pamiętniczek</p>
        </div>
        <div class="right-menu">
            <p><a href="index.php?page=main">Notes</a></p>
            <p><a href="index.php?page=login">Login</a></p>
            <p><a href="index.php?page=signup">Sign Up</a></p>
        </div>
    </div>
    
<main>
    <div class="container">
        <section>
            <h1><img src="../img/notes.png" >Notes</h1>
            <button class="btn create-btn"><img src="../img/edit.png" >Create Note</button>
            <form class="notes-container" action="index.php?page=add_entry" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <h3><input name="title" type="text" maxlength="50" value="Tytuł" required/></h3>
                        <textarea name="text" rows="6" required></textarea>
                        <input class="file-input" type="file" name="images"/>
                        <button class="save-btn" type="submit">Zapisz</button>
                    </fieldset>
            </form>
        </section>
        <section>
            {% for note in notes %}
                <article class="diary-entry">
                    <h3>
                        {{ note.title }}
                    </h3>
                    <pre>
                        {{ note.text }}
                    </pre>
                    <sub>
                        {{ note.date }}
                    </sub>
                    {% if note.filename is not empty %}
                        <img src="../storage/{{ note.filename }}" />
                    {% endif %}
                </article>

            {% endfor %}
            
        </section>
    </div>
</main>

<script src="scripts/script.js"></script>
</body>
</html>
