<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta charset="utf-8" /> 
    <title>Na lini</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>

<div class="top-menu">
    <div class="left-menu">
        <p>Mój pamiętniczek</p>
    </div>
    <div class="right-menu">
        <p><a href="index.php?page=main">Notes</a></p>
        <p><a href="index.php?papge=login">Login</a></p>
        <p><a href="index.php?page=signup">Sign Up</a></p>
    </div>
</div>



<div class="login-panel">
    <h2>Login</h2>
    <input type="text" id="login" placeholder="Username">
    <input type="password" id="password" placeholder="Password">
    <button id="loginButton">Log In</button>
</div>

<script src="scripts/script.js"></script>

</body>
</html>
