<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta charset="utf-8" /> 
    <title>Na lini</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    
    <div class="top-menu">
        <div class="left-menu">
            <p>Mój pamiętniczek</p>
        </div>
        <div class="right-menu">
            <p><a href="index.php?page=main">Notes</a></p>
            <p><a href="index.php?page=login">Login</a></p>
            <p><a href="index.php?page=signup">Sign Up</a></p>
        </div>
    </div>
    
<div class="container">
    <h1>Podana strona nie istnieje</h1>
</div>
<script src="scripts/script.js"></script>
</body>
</html>
